<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Đăng xuất", "Logoff", "Account")</li>
                    <li>@Html.ActionLink("Nhân Viên", "Index", "NHANVIENs")</li>
                    <li>@Html.ActionLink("Khách Hàng", "Index", "KHACHHANGs")</li>
                    <li>@Html.ActionLink("Chức Vụ", "Index", "CHUCVUs")</li>
                    <li>@Html.ActionLink("Phòng", "Index", "PHONGs")</li>
                    <li>@Html.ActionLink(" Loại Phòng", "Index", "LOAIPHONGs")</li>
                    <li>@Html.ActionLink("Dịch Vụ", "Index", "DICHVUs")</li>
                    <li>@Html.ActionLink("Phiếu Đăng Kí", "Index", "PHIEUDANGKIs")</li>
                    <li>@Html.ActionLink("Hóa Đơn", "Index", "HOADONs")</li>
                </ul>
            </div>
        </div>S
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
