@model IEnumerable<LTQLBTL.Models.CTPHIEUDANGKI>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PHIEUDANGKI.MaNV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaKH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoNguoi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayDen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayDi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PHIEUDANGKI.MaNV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaKH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoNguoi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayDen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayDi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaCTPDK }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaCTPDK }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaCTPDK })
        </td>
    </tr>
}

</table>
